apiVersion: apps/v1
kind: StatefulSet
metadata:
 name: nginx-statefulset
spec:
 serviceName: "nginx-service"
 replicas: 3
 selector:
   matchLabels:
     app: nginx
 template:
   metadata:
     labels:
       app: nginx
   spec:
     containers:
     - name: nginx
       image: nginx:latest
       ports:
       - containerPort: 80
         name: web
       volumeMounts:
       - name: www-data
         mountPath: /usr/share/nginx/html
 volumeClaimTemplates:
 - metadata:
     name: www-data
   spec:
     accessModes: ["ReadWriteOnce"]
     resources:
       requests:
         storage: 1Gi
